body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}




/*------------Header--------------*/
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.span-logo-head {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42
}

.nav-studio {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.nav-studio:hover,
.nav-studio:focus {
    color: #404bbf
}

.nav-portolio {


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-contact {


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.adress-list {
    font-style: normal;
}

.mail {

    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}

.tell {

    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress {
    font-style: normal;
}

.adress:focus,
.adress:hover {
    color: #404bbf
}

/*------------Main Screen--------------*/
.main {
    background: #2e2f42;
}

.main-text {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-butt {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
}

.main-butt:hover,
.main-butt:focus,
.main-butt:active {
    background-color: #404BBF;
}


/*------------Features--------------*/
.feature-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------Team Screen--------------*/
.team {
    background: #f4f4fd;
}

.team-title {

    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    background-color: #FFFFFF
}



.team-name {

    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2e2f42;
}

.team-workname {

    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

/*------------Portfolio--------------*/
.portfolio-title {

    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    background: #fff;
}



.portfolio-name-img {

    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {

    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------Footer--------------*/
.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {

    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}